.boardCell {
  cursor: pointer;
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: column;
}
